#pagina-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-login {
    width: 600px;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid grey;

    background-color: #DCDCDC;
}

#form-login label {
    font-size: 18px;
}


.opcoes {
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

#logoff {
    position: absolute;
    right:10px;
}